.mask {
	background-color: transparent;
	transition: all linear 2.3s;
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	&.open {
		background-color: $translucent-black;
		transition: all ease 2.3s;
		display: block;
	}
}

.hide {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center-text {
	text-align: center;
}