//colors 
$black: #000;
$light-gray: #eee;
$magenta: #ec008c;
$translucent-black: rgba(0, 0, 0, 0.5);
$white: #FFF;

//fonts
$galaxie-font: "GalaxieCopernicus-Book";
$huge-font: "huge_agb_v5-webfont";

//desktop text size
$primary-nav: 1.3125em;
$secondary-nav: 1em;
$headline: 7.5em;
$body-copy: 1.45em;

//mobile text size
$headline-mobile: 2.75em;
$body-copy-mobile: 0.875em;
$body-copyright-mobile: 0.75em;
