/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*:focus {
  outline: 0;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  color: #222;
  background-color: #fff;
}

/* ==========================================================================
   Links
   ========================================================================== */
/* Universal link styling */
a {
  color: #FFF;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /* Removes the dark touch outlines on links */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  padding: 0;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Safari 5, and Chrome.
 * 4. Prevent native tap highlight.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+
 */
button {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  vertical-align: top;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "huge_agb_v5-webfont";
  src: url("../fonts/huge_agb_v5-webfont?tsz27s");
  src: url("../fonts/huge_agb_v5-webfont.eot?#iefixtsz27s") format("embedded-opentype"), url("../fonts/huge_agb_v5-webfont.woff?tsz27s") format("woff"), url("../fonts/huge_agb_v5-webfont.ttf?tsz27s") format("truetype"), url("../fonts/huge_agb_v5-webfont.svg?tsz27s#huge_agb_v5-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GalaxieCopernicus-Book";
  src: url("../fonts/GalaxieCopernicus-Book?tsz27s");
  src: url("../fonts/GalaxieCopernicus-Book.eot?#iefixtsz27s") format("embedded-opentype"), url("../fonts/GalaxieCopernicus-Book.woff?tsz27s") format("woff"), url("../fonts/GalaxieCopernicus-Book.ttf?tsz27s") format("truetype"), url("../fonts/GalaxieCopernicus-Book.svg?tsz27s#GalaxieCopernicus-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
.mask {
  background-color: transparent;
  transition: all linear 2.3s;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.mask.open {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease 2.3s;
  display: block;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-text {
  text-align: center;
}

.icon {
  height: 20px;
  width: 24px;
  display: block;
}

.close-icon {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI3MnB4IiBoZWlnaHQ9IjcycHgiIHZpZXdCb3g9IjAgMCA3MiA3MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzIgNzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjM4Ljg1NCwzNS45NzcgNDUuOSwyOC45MjkgNDMuMDcxLDI2LjEgMzUuOTc1LDMzLjE5NiAyOC43NTgsMjYuMjI3IDI1Ljk3OSwyOS4xMDQgMzMuMTQ2LDM2LjAyNSAKCTI2LjEwMSw0My4wNyAyOC45Myw0NS44OTkgMzYuMDI0LDM4LjgwNSA0My4yNDMsNDUuNzc1IDQ2LjAyMSw0Mi44OTggIi8+Cjwvc3ZnPg==) no-repeat center center;
}

.menu-icon {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI3MnB4IiBoZWlnaHQ9IjcycHgiIHZpZXdCb3g9IjAgMCA3MiA3MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzIgNzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxyZWN0IHg9IjI0IiB5PSIyNiIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQiLz4KCTxyZWN0IHg9IjI0IiB5PSIzNCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQiLz4KCTxyZWN0IHg9IjI0IiB5PSI0MiIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQiLz4KPC9nPgo8L3N2Zz4=) no-repeat center center;
}

.mobil-icon {
  position: absolute;
  top: 20px;
  left: 24px;
  transition: all ease-in 0.5s;
}
.mobil-icon .ham {
  width: 24px;
  height: 4px;
  margin: 8px 0;
  background: #FFF;
  transition: all ease 0.2s;
}
.mobil-icon .ham::before, .mobil-icon .ham::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 24px;
  height: 4px;
  background: #FFF;
}
.mobil-icon .ham::after {
  content: "";
  top: 16px;
  position: absolute;
}
.mobil-icon.open {
  left: calc(100% - 48px);
  transition: all ease-in 0.5s;
}
.mobil-icon.open .ham {
  background: #ec008c;
  transition: all ease 1s;
  transition-delay: 0.2s;
}
.mobil-icon.open .ham::before, .mobil-icon.open .ham::after {
  top: 10px;
  transform: rotate(-45deg);
  transition-delay: 0.5s;
}
.mobil-icon.open .ham::after {
  transform: rotate(45deg);
  top: 10px;
}

.arrow {
  display: none;
  float: right;
  transform: rotate(180deg);
  transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.8s;
}
.arrow::before {
  content: "";
  width: 15px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #ec008c;
  float: right;
}
.arrow::after {
  content: "";
  width: 15px;
  height: 3px;
  transform: rotate(-45deg);
  background-color: #ec008c;
  float: right;
  margin-right: -6px;
}

.header {
  background-color: #ec008c;
  font-family: "huge_agb_v5-webfont";
  height: 72px;
  z-index: 100;
  position: relative;
}
.header .mobil-icon {
  display: none;
}
.header .logo {
  background: url("../images/HUGE-white.png") 50% 50% no-repeat;
  background-size: contain;
  display: block;
  left: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  width: 60px;
}
.header .logo:hover {
  background: url("../images/HUGE-black.png") 50% 50% no-repeat;
  background-size: contain;
}
.header .logo.hide {
  background: url("../images/HUGE-magenta.png") 50% 50% no-repeat;
  background-size: contain;
}
.header .close-icon, .header .menu-icon {
  display: none;
}
.header .nav {
  margin: 0 0 0 132px;
  padding: 0;
}
.header .nav .nav-item {
  color: #FFF;
  float: left;
  font-size: 1.3125em;
  height: 72px;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
}
.header .nav .nav-item .item {
  padding: 24px 24px 16px;
  display: inline-block;
}
.header .nav .nav-item:hover, .header .nav .nav-item.open {
  background-color: #FFF;
  color: #ec008c;
}
.header .nav .nav-item:hover .item, .header .nav .nav-item.open .item {
  color: #ec008c;
}
.header .nav .nav-item.open .sub-menu {
  display: block;
  left: 0;
  min-width: 100%;
}
.header .nav .nav-item .sub-menu {
  background-color: #FFF;
  display: none;
  font-family: "GalaxieCopernicus-Book";
  left: -99999em;
  padding: 12px 0;
  position: absolute;
  top: 72px;
  white-space: nowrap;
  z-index: 1;
}
.header .nav .nav-item .sub-menu .sub-item {
  color: #000;
}
.header .nav .nav-item .sub-menu .sub-menu-item {
  font-size: 16px;
  padding: 12px 24px;
}
.header .nav .nav-item .sub-menu .sub-menu-item:hover {
  background-color: #eee;
}
.header .nav .nav-item .sub-menu .sub-menu-item:hover .sub-item {
  color: #ec008c;
}
.header .copyright {
  font-size: 0.75em;
  display: none;
}

.content .image-bg {
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  height: 650px;
}
.content .title {
  color: #FFF;
  float: left;
  font-family: "huge_agb_v5-webfont";
  font-size: 7.5em;
  margin: 0;
  padding: 205px 0px;
  position: absolute;
  text-align: center;
  top: 72px;
  width: 100%;
}
.content .wrap {
  font-family: "GalaxieCopernicus-Book";
  font-size: 1.45em;
  margin: 60px auto 0;
  width: 968px;
  text-align: justify;
}

@media only screen and (max-width: 1040px) {
  .header .nav .nav-item .item {
    padding: 24px 15px 16px;
    font-size: 0.9em;
  }
  .header .nav .nav-item:last-child .sub-menu {
    left: -62px;
  }

  .content .wrap {
    width: 100%;
    padding: 0 24px 10px;
    margin-top: 0;
    font-size: 0.875em;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    height: 60px;
    position: relative;
  }
  .header .mobil-icon {
    display: block;
  }
  .header .logo {
    height: 20px;
    top: 20px;
    left: calc(-100% - 75px);
    transition: left ease-in 0.5s;
  }
  .header .logo.open {
    left: 20px;
    transition: left ease-in 0.5s;
  }
  .header .nav {
    background-color: white;
    height: 100vh;
    left: -100%;
    margin: 0;
    padding: 12px 0;
    position: absolute;
    top: 60px;
    transition: all ease-in 0.5s;
    width: calc(100% - 72px);
  }
  .header .nav .nav-item {
    float: none;
    background: #FFF;
    height: 48px;
    overflow: hidden;
    padding: 0;
  }
  .header .nav .nav-item .item {
    color: #000;
    padding: 12px 10px 12px 24px;
    width: 100%;
    display: inline-block;
    line-height: 1.1;
    height: 48px;
  }
  .header .nav .nav-item .item .arrow {
    display: block;
    margin: 10px 0;
  }
  .header .nav .nav-item .item:hover {
    background-color: #eee;
  }
  .header .nav .nav-item .sub-menu {
    height: 100%;
    display: block;
    position: inherit;
    top: 0;
  }
  .header .nav .nav-item:hover .item {
    color: #000;
  }
  .header .nav .nav-item.open {
    height: auto;
  }
  .header .nav .nav-item.open .item .arrow {
    transform: rotate(0deg);
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.8s;
  }
  .header.open .nav {
    left: 0;
    transition: all ease-in 0.5s;
  }
  .header .copyright {
    display: block;
  }

  .content .image-bg {
    height: 240px;
  }
  .content .title {
    margin: 50px 0;
    padding: 0 24px;
    position: inherit;
    font-size: 2.75em;
    color: #000;
    text-align: left;
  }
  .content .wrap {
    width: 100%;
    padding: 0 24px 10px;
    margin-top: 0;
    font-size: 0.875em;
  }
}
